<div class="ui fixed pointing borderless one item menu">
    <div class="ui container center aligned">
        <!--<a href="#/" class="item" ng-class="{active: segment === '/journeys'}">Journeys</a>-->
        <div id="logo" href="#/" class="header item">Today's menu is</div>
        <!--<a href="#/journeys" class="item" ng-class="{active: segment === '/journeys'}">Journeys</a>-->
        <a id="login" class="ui button teal" href="/auth/facebook/">Login</a>
    </div>
</div>

<div id="contentBox" class="ui text container center aligned">
    <div id="todayBox">
        <h1 class="ui header">Spaghetti wok</h1>
        <br>
        <div class="ui centered grid stackable">
            <div>
                <img class="ui fluid image rounded" src="/images/asian.jpg">
                <br>
                <button class="orange massive fluid ui button">Order for €6.50</button>
            </div>
        </div>
    </div>

    <br>
    <div class="ui horizontal divider">
        Or
    </div>
    <br>
    <div id="tomorrowBox">
        <h1 class="ui header">Vote tomorrow's menu</h1>
        <br>
        <div class="ui three column centered grid stackable">
            <div class="column centered row">

                <div class="column aligned">
                    <h3 class="ui header">
                        Salmon teriyaki
                    </h3>
                    <img class="ui fluid image rounded" src="/images/salmon.jpg">
                    <br>
                    <button class="teal massive fluid ui button">Upvote</button>
                </div>

                <div class="column aligned">
                    <h3 class="ui header">
                        Gourmet burguer
                    </h3>
                    <img class="ui fluid image rounded" src="/images/burguer.jpg">
                    <br>
                    <button class="teal massive fluid ui button">Upvote</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Sitemap</a>
                    <a href="#" class="item">Contact Us</a>
                    <a href="#" class="item">Religious Ceremonies</a>
                    <a href="#" class="item">Gazebo Plans</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Services</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Banana Pre-Order</a>
                    <a href="#" class="item">DNA FAQ</a>
                    <a href="#" class="item">How To Access</a>
                    <a href="#" class="item">Favorite X-Men</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Footer Header</h4>
                <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
            </div>
        </div>
    </div>
</div>