@font-face {
    font-family: "Redacted";
    src: url("fonts/redacted-regular.eot");
    src: url("fonts/redacted-regular.woff2") format("woff2"), url("fonts/redacted-regular.woff") format("woff"), url("fonts/redacted-regular.otf") format("opentype"), url("fonts/redacted-regular.svg#filename") format("svg");
}

@font-face {
    font-family: "Pacifico";
    src: url("fonts/pacifico.ttf");
}

.snap-content {
    background-color: white;
}

.snap-drawer {
    padding: 2em;
    background-color: #f7f7f7;
}

#appWrapper {
    padding-top: 8em;
}

#logo {
    font-family: 'pacifico';
    font-size: 2rem;
}

#sidemenu-box {
    padding-top: 1em;
}

#pending-orders {
    overflow-y: auto;
    height: 50vh;
}

a.auth {
    position: absolute;
    bottom: 2em;
    width: 80%;
}

.sidemenu-button {
    top: 30%;
    position: absolute;
    right: 0;
}

#contentBox {
    margin-bottom: 100px;
}

#todayBox header {
    position: relative;
}

@media (min-width: 600px) {
    #todayBox {
        padding: 0 50px;
    }
}

#deleteDish {
    position: absolute;
    right: 0;
}

#tomorrowBox {}

#dishName[contenteditable='true']:empty:before {
    content: 'Dish name...';
}

#dishPrice[contenteditable='true']:empty:before {
    content: '0.00';
}

.dish-picker.ui.button.dropdown .menu {
    min-width: 16em;
}

.file-form {
    display: none;
}

.orange.button {
    width: 100%;
}

.green.button {
    width: 75%;
}

.ui.action.input>.green.button {
    display: block;
    text-align: center;
    width: 75%;
}

#orderBox #qty {
    text-align: center;
    flex: initial;
    width: 25%;
}

.pointer {
    cursor: pointer;
}

.footer.segment {
    padding: 5em 0em;
}