<div id="contentBox" class="ui text container center aligned">
    <div id="todayBox">
        <header ng-init="init()">

            <button ng-if="user.admin === true && dish.id && config.orders.active" class="ui button updateConfig" title="Disable orders" ng-click="updateConfig(config.orders,{active:false})">
                Disable orders
            </button>

            <button ng-if="user.admin === true && dish.id && !config.orders.active" class="ui button updateConfig" title="Enable orders" ng-click="updateConfig(config.orders,{active:true})">
                Enable orders
            </button>


            <div ng-if="user.admin === true" class="ui teal buttons">
                <div class="ui button" ng-click="createDish()" title="Create new dish">New</div>
                <div class="ui floating dropdown icon button dish-picker" title="Select dish from history">
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" ng-repeat="hDish in dishHistory" data-value="{{hDish.id}}">
                            <img class="ui avatar image" ng-src="{{hDish.imagePath}}"> {{hDish.name}}
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="user.admin === true && dish.id" id="deleteDish" class="ui button icon" title="Delete current dish" ng-click="deleteDish()">
                <i class="ui icon delete"></i>
            </div>

            <h1 ng-if="dish.id" id="dishName" class="ui header" contenteditable="{{user.admin === true}}" ng-blur="saveDish()" ng-model="dish.name">
            </h1>

        </header>

        <br>
        <div class="ui centered grid stackable">
            <div ng-if="dish.id">
                <div class="ui inverted dimmer image-loading">
                    <div class="ui text loader">Loading</div>
                </div>
                <label for="file" ng-class="{pointer : user.admin === true}">
                    <img class="ui fluid image rounded" ng-src="{{dish.imagePath}}">
                </label>

                <form ng-if="user.admin === true" class="file-form">
                    <input id="file" type="file" ngf-select="fileSelected($files)" accept="'image/*'">
                </form>

                <br>
                <div id="dishPrice" ng-if="user.admin === true" contenteditable="{{user.admin === true}}" class="orange massive ui button" ng-model='dish.price' ng-blur="saveDish()">
                </div>

                <button ng-if="user.admin !== true && config.orders.active" class="orange massive ui button" ng-click="open()">
                    Order for {{dish.price | currency:"€":2}}
                </button>

                <div class="ui message">
                    <div class="content">
                        <p>Until March orders taken until 11:00 and delivery between 11:30 and 12:30</p>
                    </div>
                </div>

                <button ng-if="user.admin !== true && !config.orders.active" class="orange massive ui button">
                    That's all for today. See you tomorrow!
                </button>
            </div>
            <div ng-if="!dish.id">
                <div class="ui massive message">
                    No active dishes loaded yet.
                </div>
            </div>
        </div>
    </div>

    <!-- Order create/edit form -->
    <div id="orderForm" class="ui page dimmer inverted" ng-class="{active:orderForm.opened}">
        <div class="content">
            <div class="ui two column centered grid stackable">
                <div class="column">
                    <div class="ui form">

                        <!-- LOGIN BOX -->
                        <div id="loginBox" ng-if="!user.id">
                            <div class="field">
                                <a id="login" class="teal fluid massive ui button" href="/auth/facebook/">Login with Facebook</a>
                            </div>
                            <div class="field">
                                <button class="ui right floated button tiny" ng-click="close()">
                                    cancel
                                </button>
                            </div>
                        </div>

                        <!-- ORDER BOX -->
                        <div id="orderBox" ng-if="user.id && !user.admin">

                            <div class="field">
                                <div class="two fields">
                                    <div class="field">
                                        <div class="ui massive fluid icon input">
                                            <input ng-model="user.address" type="text" placeholder="Where are you?" places-auto-complete types="['geocode']" on-place-changed="updateLocation()" component-restrictions="{country:'ie'}" types="['address']" />
                                            <i class="search icon"></i>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="ui massive fluid icon input">
                                            <input ng-model="user.phone" ng-blur="updateUser({phone:user.phone})" type="text" placeholder="Contact number" />
                                            <i class="phone icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <ng-map ng-if="mapLoaded || orderForm.opened" center="{{mapPos.lat}},{{mapPos.lng}}" zoom="15">
                                    <marker position="{{markerPos}}" animation="Animation.BOUNCE"></marker>
                                </ng-map>
                            </div>
                            <div class="field">

                                <div class="ui action input massive">
                                    <input id="qty" min="1" type="number" ng-model="order.qty">
                                    <button ng-click="createOrder()" class="green massive ui button" ng-class="{disabled:!user.location.lat || !user.phone.length > 0}">
                                        Order for {{dish.price * order.qty | currency:"€":2}}
                                    </button>
                                </div>

                            </div>
                            <div class="field">
                                <button class="ui right floated button tiny" ng-click="close()">
                                    cancel
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<br>
    <div class="ui horizontal divider">
        Or
    </div>
    <br>

    <div id="tomorrowBox">
        <h1 class="ui header">Vote tomorrow's menu</h1>
        <br>
        <div class="ui three column centered grid stackable">
            <div class="column centered row">

                <div class="column aligned">
                    <h3 class="ui header">
                        Salmon teriyaki
                    </h3>
                    <img class="ui fluid image rounded" src="/images/salmon.jpg">
                    <br>
                    <button class="teal massive fluid ui button">Upvote</button>
                </div>

                <div class="column aligned">
                    <h3 class="ui header">
                        Gourmet burguer
                    </h3>
                    <img class="ui fluid image rounded" src="/images/burguer.jpg">
                    <br>
                    <button class="teal massive fluid ui button">Upvote</button>
                </div>
            </div>
        </div>
    </div>-->
</div>